<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= cl_image_tag("nu7jnsd8k2zhchf2ruov",
      width: 400, height: 100, crop: :fit) %>

<%= cl_image_tag("xrulcbxxt8sh49ekgndo",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

